.container {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  font-size: 35px;
  position: relative;
  animation: fade 2s ease-out infinite;
}
.spiner {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 15px transparent solid;
  mix-blend-mode: overlay;
  animation: rotate infinite 2.5s ease-in-out;
}
.spiner-red {
  border-top-color: lightcoral;
  animation: rotate ease-in 3.5s infinite;
}
.spiner-blue {
  border-left-color: lightblue;
  rotate: 3.5s;
  animation: rotate ease-in 2.5s infinite;
}
.spiner-green {
  border-right-color: lightgreen;
  rotate: 1.5s;
  animation: rotate ease-in 3s infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(360deg)
  }
}
@keyframes fade {
  0%,100% {opacity: 100%;}
  25%,75%{opacity:50%;}
  50%{opacity: 25%;
  }
}